body {
    margin: 0;
    padding: 0;
    width: 688.06px;
    height: 489.29px;
    font-family: Nunito Sans;
    color: rgb(71, 77, 102);
    margin: 0 auto;
    letter-spacing: -0.4px;
}

button {
    margin: 0;
    padding: 0;
    border-radius: 1.91px;
    border: none;
    background-color: rgb(217, 221, 227); 
    width: 68.94px;
    height: 22.94px;
    box-sizing: content-box;
    margin-top: 35.36px;
    margin-left: 66.42px;
}

button:hover {
    background-color: rgb(228, 231, 235);
}

.login {
    margin: 0;
    padding: 0;
    font-family: Nunito Sans;
    font-size: 5.73px;
    font-weight: 700;
    line-height: 7.65px;
    font-family: Nunito Sans;
    letter-spacing: -0.4px;
    padding: 7.47px 11.47px;
}

.login-link {
    text-decoration: none !important;
    color: rgb(71, 77, 102);
}

.text { 
    font-family: Nunito Sans;
    font-size: 7.65px;
    font-weight: 400;
    line-height: 11.47px;
    letter-spacing: 0px;
    text-align: left;  
}

h1 { 
    margin: 0;
    padding: 0;
    width: 275px;
    height: 69px;
    margin-left: 206.9px;
    margin-top: 14.33px; 
    color: rgb(46, 48, 50);
    font-family: Nunito Sans;
    font-size: 28.67px;
    font-weight: 700;
    line-height: 34.4px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 7.45px;
}

.select {
    margin: 0;
    padding: 0;
    width: 199px;
    height: 27px; 
    font-family: Nunito Sans;
    font-size: 8.6px;
    font-weight: 600;
    line-height: 13.38px;
    letter-spacing: 0px;
    text-align: center;
    margin-left: 244.64px;
    margin-bottom: 37.98px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 37.78px;
    
}

.card {
    width: 172.94px;
    height: 188.79px;
    box-shadow: 0px 0px 0.96px 0px rgba(0, 0, 0, 0.2),0px 0.96px 4.78px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
}

.text { 
    width: 150px;
    height: 33px;
    font-size: 7.65px;
    font-weight: 400;
    line-height: 11.47px;
    text-align: left;
    padding-left: 11.47px;
}

img {
    margin: 0;
    padding: 0;
    margin-bottom: 7.65px;
    padding-left: 11.47px;
    padding-left: 11.47px;
}

h3 {
    margin: 0;
    padding: 0; 
    font-family: Nunito Sans;
    font-size: 14.33px;
    font-weight: 700;
    line-height: 19.11px;
    text-align: left;
    width: 138px;
    height: 20px;
    margin-bottom: 7.65px;
    padding-left: 11.47px;
}