:root {
    --color-text: rgb(71, 77, 102);
    --color-blue: rgb(85, 112, 241);
    --text-inter: Inter;
}

body {
    margin: 0;
    padding: 0;
    padding-top: 25px;
    font-family: Nunito Sans;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    color: var(--color-text);
}

.full-body {
    display: flex;
    gap: 143.77px;
    width: 688.06px;
    height: 489.29px;
    margin: 0 auto;
    padding: 24.84px 64.51px;
    box-shadow: 0px 0px 0.96px 0px rgba(0, 0, 0, 0.3),0px 0.96px 4.78px 0px rgba(0, 0, 0, 0.2);
}

.signup { 
    margin: 0;
    padding: 0;
    color: rgb(143, 149, 178);
    font-size: 14.33px;
    font-weight: 700;
    line-height: 19.11px;
    letter-spacing: -0.2px;
    text-align: left;
}

h1 { 
    margin: 0;
    padding: 0;
    width: 275px;
    height: 69px;
    color: rgb(46, 48, 50);
    font-size: 28.67px;
    font-weight: 700;
    line-height: 34.4px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 37.34px;
    margin-bottom: 7.45px;
}

.text {
    margin: 0;
    padding: 0;
    width: 186px;
    height: 54px;
    color: var(--color-text);
    font-size: 8.6px;
    font-weight: 600;
    line-height: 13.38px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 14.81px;
}

.img-one img {
    padding: 4.81px;
}

.input-form {
    width: 220.27px; 
    height: 439.61px;
    box-sizing: border-box;
    border: 0.48px solid rgb(221, 226, 230);
    border-radius: 9.56px;
    background: rgb(255, 255, 255);
    padding: 17.68px;
}

h2 {
    margin: 0;
    padding: 0; 
    color: rgb(43, 47, 50);
    font-family: var(--text-inter);
    font-size: 11.47px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 10px;
}

.steps {
    font-family: var(--text-inter);
    font-size: 6.69px;
    font-weight: 400;
    line-height: 8px;
    letter-spacing: 0%;
    text-align: right;
    color: rgb(131, 137, 140);
    padding-right: 4.5px;
}

.two-stick {
    position: relative;
    top: 13.18px;
    width: 179.18px;
    height: 2.87px;
    border-radius: 9.56px;
    background: rgb(226, 230, 249);
}

.one-stick {
    position: relative;
    top: 9px;
    width: 44.8px;
    height: 5.73px;
    border-radius: 9.56px;
    background: var(--color-blue);
}

.registration {
    margin-top: 26px;
}

.main-inf {
    margin: 0;
    padding: 0;
    width: 179.18px;
    height: 24.85px;
    box-sizing: border-box;
    border: 0.48px solid rgb(207, 211, 213);
    border-radius: 3.82px; 
    color: rgb(171, 175, 177);
    font-family: var(--text-inter);
    font-size: 9px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left; 
    padding: 7.65px; 
    margin-bottom: 11.47px;
}

.main-inf:focus {
    outline: none;
    border-color: rgb(143, 148, 150);
}

.label-input { 
    margin: 0;
    padding: 0;
    color: rgb(94, 99, 102);
    font-family: var(--text-inter);
    font-size: 9px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left; 
    margin-bottom: 3.82px;
}

.select-num {
    width: 67.85px;
    height: 24.85px; 
    box-sizing: border-box;
    border: 0.48px solid rgb(207, 211, 213);
    border-radius: 3.82px; 
    color: rgb(94, 99, 102);
    font-family: var(--text-inter);
    font-size: 10px;
    font-weight: 400;
    line-height: 19px;
}

.select-num:focus {
    outline: none;
    border-color: rgb(143, 148, 150);
}

.phone {
    width: 108.46px;
    height: 24.85px;
    box-sizing: border-box;
    border: 0.48px solid rgb(207, 211, 213);
    border-radius: 3.82px;
}

.phone:focus {
    outline: none;
    border-color: rgb(143, 148, 150);
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 12px;
}

.input-accept {
    margin: 0;
    padding: 0;
    width: 9.56px;
    height: 9.56px;
    border-radius: 2.87px;
    background: var(--color-blue);
    margin-right: 7px;
}

.label-accept { 
    margin: 0;
    padding: 0;
    font-family: var(--text-inter);
    font-size: 10px;
    font-weight: 400;
    line-height: 8px;
    text-align: right;
    color: rgb(94, 99, 102);
}

.label-accept span {
    color: var(--color-blue);
}

.butt-signup {
    width: 179.18px;
    height: 28.25px; 
    border-radius: 5.73px;
    background: var(--color-blue); 
    color: rgb(255, 255, 255);
    font-family: var(--text-inter);
    font-size: 9.56px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: center;
    border: none;
}

.butt-signup:hover {
    background: rgb(119, 140, 243)
}

.in-stripes {
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 16px 0;
}

.in-stripes div {
    width: 70.24px;
    height: 0;
    border: 0.48px solid rgb(216, 218, 220);
}

.in-stripes p {
    color: rgba(0, 0, 0, 0.7);
    font-family: var(--text-inter);
    font-size: 7px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0%;
    text-align: left;
    margin: 0 6.5px;
}

.two-sos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}

.sos {
    margin: 0;
    padding: 0;
    width: 83.62px;
    height: 26.76px;
    box-sizing: border-box;
    border: 0.48px solid rgb(216, 218, 220);
    border-radius: 4.78px;
    background: rgb(255, 255, 255); 
}

.sos:hover {
    border-color: rgb(173, 177, 182);
}

.sos a p { 
    color: rgb(0, 0, 0);
    font-family: var(--text-inter);
    font-size: 6.69px;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: 0%;
    text-align: left;
}

.sos a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5.73px;
}

.have-acc { 
    margin: 0;
    padding: 0;
    font-family: var(--text-inter);
    font-size: 7.65px;
    font-weight: 600;
    line-height: 9px;
    letter-spacing: 0%;
    text-align: center;
    color: rgb(94, 99, 102);
}

.have-acc a {
    color: rgb(47, 128, 237);
}